.LatestFeed {
    box-shadow: 1px 1px 16px -6px rgba(0, 0, 0, 0.2), -1px -1px 16px -6px rgba(0, 0, 0, 0.2) !important;
    width: 100%;
    max-width: 100%;
    padding: 10px;
}

.StoryContainer {
    display: flex;
    flex-direction: column;
}

.StoryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.StoryHeader h2 {
    font-size: 25px;
    color: #3AB395;
}

.StoryHeader img {
    width: 40px !important;
    height: 40px !important;
    min-height: 40px !important;
    min-width: 40px !important;
}

.Story {
    display: flex;
    align-items: center;
}

.StoryAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    min-height: 50px !important;
    background-color: #90A877;
    margin-left: 10px;
}

.StoryAdd img {
    height: 15px !important;
    width: 15px !important;
    min-height: 15px !important;
    min-width: 15px !important;
    object-fit: contain;
}

.SingleStory {
    border: 2px solid #90A877;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.SingleStory img {
    width: 48px !important;
    height: 48px !important;
    object-fit: cover;
    border-radius: 50%;
    min-height: 48px !important;
    min-width: 48px !important;
}

.EventContainer {
    margin-top: 40px;
}

.EventContainer h2 {
    font-size: 25px;
    color: #3AB395;
    margin-bottom: 15px;
}

.Event {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Event :nth-child(2) {
    flex: 1;
    color: #464646;
    font-size: 14px;
    margin-right: 2px;
}

.Event :first-child {
    width: 25px !important;
    height: 25px !important;
    min-height: 25px !important;
    min-width: 25px !important;
    object-fit: contain;
}

.Event :last-child {
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    object-fit: contain;
}
